.pf-v5-c-backdrop {
  z-index: 1040;
}

.foreman-modal.modal-high {
  height: 50vh;
  @media only screen and (max-height: 960px) {
    height: 70vh;
  }

  .pf-v5-c-form-control, .pf-v5-c-date-picker, .pf-v5-c-date-picker__input {
    width: 250px
  }
}
