{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": ["@theforeman/vendor-dev/babel.preset.js"]
    },
    "storybook": {
      "presets": ["@theforeman/vendor-dev/babel.preset.js"]
    }
  }
}
