.bundle/
.idea/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
build/
dist/
*.egg-info/
extras/*.pyc
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/*/*.pox
locale/*/LC_MESSAGES
Gemfile.lock
