.bundle/
.idea/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
build/
dist/
*.egg-info/
extras/*.pyc
locale/action_names.rb
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/*/*.pox
Gemfile.lock
node_modules
package-lock.json
coverage/
