<div class="form-group">
  <label class="col-md-2 control-label" for="ansible_roles"><%= _('Included Roles') %></label>
  <div class="col-md-4">
    <% if object.parent_ansible_roles.empty? %>
      <span class="help-block">
        <%= _('None') %>
      </span>
    <% else %>
      <ul class="inputs-list">
        <% object.parent_ansible_roles.each do |role| %>
          <li class="ms-hover">
            <input type="checkbox" checked="checked" disabled="disabled">
            <%= role.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
