<div class='tab-pane' id='ansible_roles'>
  <%= multiple_selects(
    f,
    :ansible_roles,
    AnsibleRole,
    f.object.is_a?(Hostgroup) ? (f.object.inherited_and_own_ansible_roles).map(&:id) : f.object.all_ansible_roles.map(&:id),
    {
      :disabled => f.object.inherited_ansible_roles.map(&:id),
      :label => _('Available roles'),
      :label_help => _('This list of roles will be applied when the host finishes<br/> '\
            'provisioning. Users can also play these roles through the API<br/>'\
            'or by clicking on the Play Roles button on the Host page ').html_safe
    },
    { 'data-inheriteds' => f.object.inherited_ansible_roles.map(&:id).to_json }) %>
</div>
