<li><a id="ansible_tab_header" href="#ansible_callback_enabled" data-toggle="tab"><%= _("Ansible") %></a></li>
<script type="text/javascript">
    $(document).ready(function () {
        var provider_type = $('#job_template_provider_type');
        provider_type.change(setAnsibleTabVisibilityByProvider);
        provider_type.change();

        function setAnsibleTabVisibilityByProvider() {
            var tab_header = $("#ansible_tab_header");
            this.value === 'Ansible' ? tab_header.show() : tab_header.hide();
        }
    });
</script>
