@import 'foremanReact/common/variables';

#ansibleRolesSwitcher {
  .pf-v5-c-dual-list-selector {
    margin: var(--pf-v5-global--spacer--md) 0;
  }

  .ansible-inherited-roles {
    --pf-v5-c-dual-list-selector__title-text--FontWeight: var(
      --pf-v5-global--FontWeight--bold
    );
    --pf-v5-c-dual-list-selector__header--MarginBottom: var(
      --pf-v5-global--spacer--sm
    );

    .pf-v5-c-dual-list-selector__header {
      margin-block-end: var(--pf-v5-c-dual-list-selector__header--MarginBottom);
    }

    .pf-v5-c-dual-list-selector__title-text {
      font-weight: var(--pf-v5-c-dual-list-selector__title-text--FontWeight);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0.5rem 0.75rem;
      margin-bottom: 0.25rem;
      background-color: var(--pf-v5-global--BackgroundColor--200);
      color: var(--pf-v5-global--Color--200);
      border-radius: 3px;
    }
  }

  .ansible-roles-order-info {
    display: flex;
    gap: var(--pf-v5-global--spacer--sm);
    margin: 0;
    font-size: var(--pf-v5-global--FontSize--sm);
    color: var(--pf-v5-global--Color--200);

    .ansible-roles-order-info-icon {
      flex-shrink: 0;
      margin-top: 0.15rem;
    }
  }

  .ansible-roles-hidden-inputs {
    display: none;
  }
}
